* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* border: 1px solid black; */
}

#navbar .logo img {
  height: 6rem;
  width: 100%;
  cursor: pointer;
}

#navbar .nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .nav-center li {
  padding: 0 1rem;
  list-style: none;
  font-size: x-large;
  font-weight: 900;
  cursor: pointer;
}

#navbar .nav-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
#navbar .nav-end div {
  border: 1px solid black;
  border-radius: 50%;
  padding: 1rem;
  margin: 0 0.3rem;
  cursor: pointer;
}

/*  <------ NAVBAR STYLING ENDS HERE */

/* TOP STYLING STARTS HERE ----> */

#top {
  background-image: url("./Images/heroimg.jpg");
  position: relative;
  width: 100%;
}
#top img {
  width: 100%;
}
#top button {
  position: absolute;
  top: 85%; /* Adjust as needed */
  left: 5%; /* Adjust as needed */
  z-index: 1; /* Ensure the button is above the image */
  padding: 1rem 4rem;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    94.68deg,
    rgb(7, 7, 7) 2.51%,
    rgb(99, 99, 99) 56.42%
  );
  border-style: none;
  font-size: x-large;
  font-weight: 900;
}

#mid {
  background-color: rgb(178, 178, 178);
  display: flex;
  padding: 2rem;
  gap: 1rem;
  font-size: large;
}
#mid p {
  text-align: center;
}

/* END STYLING STARTS HERE----> */
#end {
  padding: 3rem;
  width: 100%;
  background-color: rgb(217, 214, 223);
}
#end #flex {
  display: flex;
  /* border: 1px solid black; */
  gap: 3rem;
  width: 100%;
}
#flex .end-flex {
  /* border: 1px solid black; */
  padding: 2rem 0;
  width: 33%;
}
#flex .end-flex img {
  width: 100%;
  height: 50%;
}

#flex .end-flex h4 {
  padding: 1rem 0;
}

#flex .end-flex button {
  margin: 2rem 0;
}

#flex .end-flex button {
  padding: 0.5rem 1rem;
  color: white;
  background-color: black;
  border-style: none;
  font-weight: 900;
}

@media (max-width: 980px) {
  #navbar .nav-center > li:nth-last-child(1) {
    display: none;
  }
  #navbar .nav-center > li:nth-last-child(2) {
    display: none;
  }
  #top button {
    position: absolute;
    top: 85%; /* Adjust as needed */
    left: 5%; /* Adjust as needed */
    z-index: 1; /* Ensure the button is above the image */
    padding: 1rem 4rem;
    color: rgb(255, 255, 255);
    background: linear-gradient(
      94.68deg,
      rgb(7, 7, 7) 2.51%,
      rgb(99, 99, 99) 56.42%
    );
    border-style: none;
    font-size: x-large;
    font-weight: 900;
  }
}

@media (max-width: 786px) {
  #end #flex {
    display: flex;
    /* border: 1px solid black; */
    gap: 0.5rem;
    width: 100%;
  }
  #flex .end-flex button {
    margin: 0.5rem 0;
  }
  #flex .end-flex img {
    width: 100%;
    height: 30%;
  }
}

@media (max-width: 768px) {
  #navbar .logo img {
    height: 3rem;
  }
  #navbar .nav-end div {
    /* border: 1px solid black; */
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0 0.3rem;
  }
  #navbar .nav-center > li:nth-last-child(2) {
    display: none;
  }
  #navbar .nav-center > li {
    font-size: medium;
  }
  #navbar .nav-end {
    display: none;
  }
  #top button {
    position: absolute;
    top: 75%; /* Adjust as needed */
    left: 5%; /* Adjust as needed */
    z-index: 1; /* Ensure the button is above the image */
    padding: 0.5rem 2rem;
    color: rgb(255, 255, 255);
    background: linear-gradient(
      94.68deg,
      rgb(7, 7, 7) 2.51%,
      rgb(99, 99, 99) 56.42%
    );
    border-style: none;
    font-size: large;
    font-weight: 900;
  }
  #flex .end-flex button{
    padding: 0;
}
}

@media (max-width: 390px) {
  #navbar .nav-center > li:nth-child(1) {
    display: none;
  }
  
  #flex .end-flex button{
      padding: 0;
  }
}
